@import url("https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@import "./vars.scss";
@import "./blocks/header.scss";
@import "./blocks/starting-sales.scss";
@import "./blocks/about.scss";
@import "./blocks/eth-blockchain.scss";
@import "./blocks/roadmap.scss";
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Life Savers", cursive;
}
body {
  background: #04090f;
  margin-bottom: 1000px;
}
a {
  text-decoration: none;
  color: #fff;
}
h1,
h2,
h3,
h4,
p {
  color: #fff;
  font-family: "Life Savers", cursive;
}
p {
  font-size: 20px;
  font-family: "Noto Sans", sans-serif;
}
.flex-row,
.flex-col {
  display: flex;
  flex-wrap: wrap;
}
.flex-col {
  flex-direction: column;
}
.container {
  width: 100%;
  max-width: 1109px;
  margin: 0 auto;
}

.button {
  cursor: pointer;
  width: 100%;
  font-family: "Life Savers", cursive;
  font-weight: bold;
  border: none;
  border-radius: 20px;
}
.button-primary {
  animation-name: lightingGreen;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  font-size: 30px;
  color: #fff;
  max-width: 328px;
  padding: 23px 0;
  background: #35ac0b;
  box-shadow: 0px 0px 20px #4ac200, inset 0px -8px 0px #124d0c;
}
.title {
  font-size: 65px;
}
@keyframes lightingYellow {
  0% {
    box-shadow: 0px 0px 10px 0px rgba(229, 233, 19, 0.6);
  }
  100% {
    box-shadow: 0px 0px 18px 0px rgba(226, 230, 20, 0.9);
  }
}
@keyframes lightingGreen {
  0% {
    box-shadow: 0px 0px 20px transparent, inset 0px -8px 0px #124d0c;
  }
  100% {
    box-shadow: 0px 0px 20px #4ac200, inset 0px -8px 0px #124d0c;
  }
}
@keyframes batFadeOut {
  0% {
    transform: scale(0.2);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scale {
  0% {
    transform: scaleX(-1);
  }
  // 75% {
  //   transform: rotate(180deg);
  // }
  100% {
    transform: scaleX(1);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
