.about {
  .container {
    align-items: flex-end;
    background: url(../../assets/images/bg-about.svg) no-repeat;
    background-size: contain;
  }
  background-image: url(../../assets/images/bg-wave02.svg);
  margin-bottom: 30px;
}
.about__title,
.about__link-wrapper,
.about__text {
  width: 100%;
  max-width: 635px;
}
.about__link-wrapper {
  justify-content: flex-start;
}
.about__link {
  //   height: 75px;
  padding-bottom: 25px;
  font-size: 20px;
  background: url(../../assets/images/bg-about-link.svg) no-repeat;
  background-position: bottom;
}
