.eth-blockchain {
  background-image: url(../../assets/images/bg-eth.svg);
  .container {
    justify-content: space-between;
  }
  margin-bottom: 160px;
}
.eth-blockchain__content {
  max-width: 635px;
}
.eth-numbers {
  svg {
    width: 408px;
  }
  //   .svg-wrapper {
  //     position: relative;
  //     &::before {
  //       position: absolute;
  //       content: "";
  //       width: 100%;
  //       height: 55%;
  //       left: 0;
  //       bottom: 10px;
  //       background-color: rgba($color: $light-color, $alpha: 0.3);
  //     }
  //   }
}
.percent {
  color: #fff;
  font-size: 65px;
  font-weight: 700;
  //   margin-top: 15px;
  display: inline-block;
}
.number-slider {
  align-items: center;
  margin-top: -40px;
}
.range {
  appearance: none;
  &::-webkit-slider-thumb {
    // background-color: $light-color;
  }
}

input[type="range"] {
  width: 54px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  border-radius: 10px/100%;
  height: 2px;
  border: none;
  background-color: #fff;
}
input[type="range"]::-webkit-slider-thumb {
  background: $light-color;
  border: none;
  border-radius: 10px/100%;
  cursor: pointer;
  width: 8px;
  height: 8px;
  -webkit-appearance: none;
  margin-top: -4px;
}

input[type="range"]::-moz-range-track {
  border-radius: 10px/100%;
  height: 2px;
  border: none;
  background-color: #fff;
}
input[type="range"]::-moz-range-thumb {
  background: #ecf0f1;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 10px/100%;
  cursor: pointer;
}
