.header {
  width: 100%;
  // height: 400px; // delete
  background: url(../../assets/images/bg-header.svg) top;

  background-size: cover;
  background-repeat: no-repeat;
  // background-position: 50px 100px, top;
}
.nav,
.header__connect,
.logo-with-social {
  width: 100%;
  max-width: 905px;
  margin: 0 auto;
  justify-content: space-between;
}
.nav {
  margin-bottom: 38px;
}
.header__connect {
  justify-content: flex-end;
  padding: 32px 0 16px 0;
}
.nav__item {
  font-size: 20px;
  font-weight: 700;
}
.nav__item--active {
  color: $light-color;
}
.header__connect-button {
  max-width: 125px;
  font-size: 14px;
  font-weight: normal;
  padding: 8px 18px 8px 40px;
  background: $light-color url(../../assets/images/icon-connect.svg) no-repeat;
  background-position: center left;
  box-shadow: 0px 0px 20px #ffdd00, inset 0px -3px 0px #ffa500;
}
.logo-with-social {
  margin-bottom: 70px;
}

.header__social,
.logo {
  width: 50%;
}
.logo {
  width: 100%;
  max-width: 360px;
}
.logo__link {
  display: inline-block;
  width: 100%;
}
.logo__image {
  width: 100%;
  object-fit: contain;
  margin-top: -25px;
  margin-left: -150px;
}
.social {
  justify-content: flex-end;
  align-items: center;
}
.social__item {
  display: inline-flex;
  align-items: center;
  width: 32px;
  height: 40px;

  &:not(:last-child) {
    margin-right: 28px;
  }
  &:hover {
    // background: transparent;
    background: none;
    border: none;
    box-shadow: 0px 0px 5px #ffdd00, 0px 0px 25px #ffdd00, 0px 0px 50px #ffdd00,
      0px 0px 75px #ffdd00;
    svg {
      path {
        fill: $light-color;
      }
    }
  }
}
.mint {
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.02) 100%
    ),
    rgba(4, 9, 15, 0.3);

  border: 1px solid #04090f;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.25),
    -5px -5px 10px rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(4px);
  border-radius: 30px;
  margin-bottom: 15px;

  &::before {
    position: absolute;
    top: -110px;
    right: -70px;
    width: 100%;
    max-width: 280px;
    height: 173px;
    content: "";
    background: url(../../assets/images/bat01.svg) no-repeat;
    background-size: 100%;
    background-position: center;
    animation-name: batFadeOut;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    // transform: rotate(-90deg);
  }
}
.mint__image-wrapper {
  width: 100%;
  max-width: 420px;
}
.mint__image {
  background-position: center;
  animation-name: scale;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.mint__content {
  width: 100%;
  max-width: 545px;
  justify-content: center;
  &::before {
    position: absolute;
    bottom: 0;
    right: -50px;
    width: 100%;
    max-width: 155px;
    height: 230px;
    content: "";
    background: url(../../assets/images/bat02.svg) no-repeat;
    background-size: 100%;
    background-position: center;
  }
}
.mint__title {
  max-width: 450px;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 53px;
}
