.roadmap {
  background: url(../../assets/images/bg-roadmap.svg) no-repeat;
  background-position: center center;
  .title {
    // height: 320px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      height: 320px;
      width: 240.87px;
      background-image: url(../../assets/images/bg-roadmap-title.svg);
      background-repeat: no-repeat;
      background-position: top center;
      top: -300%;
      left: 50%;
      transform: translate(-50%);

      animation-name: scale;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
    }
  }
}

.roadmap__content__wrapper {
  width: 100%;
  justify-content: center;
}
.roadmap__item {
  //   background-image: url(../../assets/images/bg-roadmap-1.svg);
  background-repeat: no-repeat;
  background-position: 65%;
  &:nth-child(2n) {
    justify-content: flex-end;
  }
  &:nth-child(1) {
    background-image: url(../../assets/images/bg-roadmap-1.svg);
    background-repeat: no-repeat;
    background-position: 65%;
  }
  &:nth-child(2) {
    padding-bottom: 135px;
    background-image: url(../../assets/images/bg-roadmap-2.svg);
    background-position: bottom -20% right 20%;
  }
  &:nth-child(3) {
    & > .roadmap__description {
      position: relative;
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 80%;
        // bottom: 0;
        left: -5%;
        // padding-bottom: 145px;
        background-image: url(../../assets/images/bg-roadmap-3.svg);
        background-repeat: no-repeat;
        background-position: bottom -20% left 20%;
      }
    }
    margin-top: -80px;
    margin-bottom: 30px;
  }
  &:nth-child(4) {
    margin-bottom: 60px;
    & > .roadmap__description {
      position: relative;
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 80%;
        // bottom: 0;
        left: 0;
        // padding-bottom: 145px;
        background-image: url(../../assets/images/bg-roadmap-2.svg);
        background-repeat: no-repeat;
        background-position: bottom -20% left 20%;
      }
    }
  }
  &:nth-child(5) {
    background-image: url(../../assets/images/bg-cross.svg);
  }
}
.roadmap__content {
  width: 100%;
  max-width: 950px;
}
.roadmap__caption {
  font-size: 30px;
}
.number {
  font-size: 150px;
  font-weight: 800;
  margin: 0 40px 0 0;
}
.roadmap__description {
  max-width: 430px;
}
