.starting-sales {
  width: 100%;
  background: url(../../assets/images/bg-wave-1.svg) no-repeat;
  margin-bottom: 100px;
}
.starting-sales__wrapper {
  position: relative;
}
.starting-sales__text {
  font-size: 30px;
  max-width: 555px;
  color: #fff;
  line-height: 41px;
  margin-bottom: 28px;
  font-weight: 400;
}
.starting-sales__countdown-wrapper {
  position: relative;
  width: 100%;
  padding: 27px 0 55px 55px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.02) 100%
    ),
    #04090f;
  border: 1px solid #04090f;
  box-sizing: border-box;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.25),
    -5px -5px 10px rgba(255, 255, 255, 0.03);
  border-radius: 30px;
  &::before {
    position: absolute;
    bottom: -53px;
    right: 0;
    width: 100%;
    max-width: 250px;
    height: 414px;
    content: "";
    background: url(../../assets/images/grave-time.svg) no-repeat;
    background-position: bottom right;
    background-size: contain;
    z-index: 99;
  }
}

.countdown__item {
  position: relative;
  font-size: 70px;
  font-weight: 800;
  background: linear-gradient(180deg, #c4c4c4 0%, #ffffff 100%);
  border-radius: 10px;
  padding: 10px 15px;
  margin-right: 7.15px;
  &::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 50%;
    background: rgba(0, 0, 0, 0.25);
    // border-radius: 10px 10px 0px 0px;
    // border-radius: 0px 0px 10px 10px;
  }
}
.countdown-item-wrapper {
  margin-right: 45px;
}
.countdown__label {
  color: #fff;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
.button-mint-soon {
  position: absolute;
  bottom: -40px;
  display: inline-block;
  max-width: 328px;
  padding: 24px 0;
  font-size: 30px;
  font-weight: 800;
  background: $light-color;
  box-shadow: 0px 0px 20px #ffdd00, inset 0px -8px 0px #ffa500;
  border-radius: 20px;
}
