<template>
  <div class="home">
    <section class="starting-sales">
      <div class="container">
        <div class="starting-sales__wrapper">
          <p class="starting-sales__text">
            We are starting the sale of 10,000 unique collectible NFTs , which
            are also a pass to the NFT Games BMB World.
          </p>
          <div class="starting-sales__countdown-wrapper">
            <the-countdown />
            <button class="button button-mint-soon">Mint soon</button>
          </div>
        </div>
      </div>
    </section>

    <section class="about">
      <div class="container flex-col">
        <h2 class="title about__title">About</h2>
        <p class="about__text">
          They were once roaming the streets of New Fang City. But now a pack of
          8888 Fangsters have assembled with one clear goal in mind; to take
          over the ETH blockchain. By far the toughest block in the metaverse.
        </p>
        <p class="about__text">
          Some would argue they’re wolves. Others say they're cats. Maybe
          foxes?! All we know for sure is that they’re randomly generated NFT
          creatures with the wildest attitude, assembled from over 160 traits
          and with 3.676.470 possible combinations.
        </p>
        <div class="about__link-wrapper flex-row">
          <router-link class="about__link" to="/"
            >Verified Smart contract</router-link
          >
        </div>
      </div>
    </section>
    <section class="bmb-nft-gallery">
      <slider-gallery :items="galleryItems" />
    </section>
    <section class="eth-blockchain">
      <div class="container flex-row">
        <div class="eth-blockchain__content">
          <div class="eth-numbers flex-row">
            <div class="svg-wrapper">
              <svg
                width="540"
                height="191"
                viewBox="0 0 540 191"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g filter="url(#filter0_d)">
                  <mask
                    id="path-1-outside-1"
                    maskUnits="userSpaceOnUse"
                    x="121.803"
                    y="0"
                    width="331"
                    height="150"
                    fill="black"
                  >
                    <rect fill="white" x="121.803" width="331" height="150" />
                    <path
                      d="M201.003 103C201.003 113.8 197.67 123.867 191.003 133.2C183.67 143.467 174.87 148.6 164.603 148.6C149.537 148.6 138.337 140.667 131.003 124.8C125.537 112.933 122.803 98.4 122.803 81.2C122.803 62.1333 125.67 45.3333 131.403 30.8C139.27 10.9333 151.003 1 166.603 1C174.337 1 181.403 3.6 187.803 8.80001C194.337 14 197.603 20.3333 197.603 27.8C197.603 32.2 195.803 36.6667 192.203 41.2C188.737 45.7333 184.87 48 180.603 48C177.27 48 174.07 46.6 171.003 43.8C168.07 41 166.603 37.9333 166.603 34.6C166.603 28.6 169.47 25.6 175.203 25.6C178.537 25.6 181.403 26.8 183.803 29.2V32.8C183.137 33.7333 182.07 34.2 180.603 34.2C179.003 34.2 177.403 33.1333 175.803 31L173.003 32.6V38.8C174.737 40.6667 176.937 41.6 179.603 41.6C186.67 41.6 190.203 37.1333 190.203 28.2C190.203 23.4 187.937 18.9333 183.403 14.8C179.003 10.5333 174.337 8.4 169.403 8.4C154.737 8.4 144.203 17.6667 137.803 36.2C133.537 48.6 131.403 63.9333 131.403 82.2C131.403 97.1333 133.47 109.533 137.603 119.4C143.337 133.133 152.67 140 165.603 140C174.67 140 181.603 135.533 186.403 126.6C190.403 119.4 192.403 110.867 192.403 101C192.403 91.9333 189.403 84.0667 183.403 77.4C177.403 70.6 169.87 67.2 160.803 67.2C155.337 67.2 150.47 69 146.203 72.6C142.07 76.2 140.003 80.6667 140.003 86C140.003 88.8 140.937 91.4 142.803 93.8C144.67 96.0667 146.937 97.2 149.603 97.2C152.003 97.2 154.47 95.2 157.003 91.2C156.87 90.2667 155.937 89.0667 154.203 87.6C153.803 87.8667 152.603 88.6667 150.603 90C148.603 91.2 147.27 91.8 146.603 91.8C145.803 91.8 145.403 90.9333 145.403 89.2C145.403 87.7333 146.337 86.0667 148.203 84.2C150.203 82.2 151.937 81.2 153.403 81.2C155.803 81.2 157.87 82.2667 159.603 84.4C161.47 86.5333 162.403 88.8667 162.403 91.4C162.403 94.6 161.137 97.4667 158.603 100C156.203 102.4 153.403 103.6 150.203 103.6C145.27 103.6 141.203 101.267 138.003 96.6C135.07 92.4667 133.603 87.8667 133.603 82.8C133.603 76.8 136.87 71.4 143.403 66.6C149.403 62.0667 155.537 59.8 161.803 59.8C172.603 59.8 181.937 64.4 189.803 73.6C197.27 82.2667 201.003 92.0667 201.003 103Z"
                    />
                    <path
                      d="M284.402 103C284.402 113.8 281.068 123.867 274.402 133.2C267.068 143.467 258.268 148.6 248.002 148.6C232.935 148.6 221.735 140.667 214.402 124.8C208.935 112.933 206.202 98.4 206.202 81.2C206.202 62.1333 209.068 45.3333 214.802 30.8C222.668 10.9333 234.402 1 250.002 1C257.735 1 264.802 3.6 271.202 8.80001C277.735 14 281.002 20.3333 281.002 27.8C281.002 32.2 279.202 36.6667 275.602 41.2C272.135 45.7333 268.268 48 264.002 48C260.668 48 257.468 46.6 254.402 43.8C251.468 41 250.002 37.9333 250.002 34.6C250.002 28.6 252.868 25.6 258.602 25.6C261.935 25.6 264.802 26.8 267.202 29.2V32.8C266.535 33.7333 265.468 34.2 264.002 34.2C262.402 34.2 260.802 33.1333 259.202 31L256.402 32.6V38.8C258.135 40.6667 260.335 41.6 263.002 41.6C270.068 41.6 273.602 37.1333 273.602 28.2C273.602 23.4 271.335 18.9333 266.802 14.8C262.402 10.5333 257.735 8.4 252.802 8.4C238.135 8.4 227.602 17.6667 221.202 36.2C216.935 48.6 214.802 63.9333 214.802 82.2C214.802 97.1333 216.868 109.533 221.002 119.4C226.735 133.133 236.068 140 249.002 140C258.068 140 265.002 135.533 269.802 126.6C273.802 119.4 275.802 110.867 275.802 101C275.802 91.9333 272.802 84.0667 266.802 77.4C260.802 70.6 253.268 67.2 244.202 67.2C238.735 67.2 233.868 69 229.602 72.6C225.468 76.2 223.402 80.6667 223.402 86C223.402 88.8 224.335 91.4 226.202 93.8C228.068 96.0667 230.335 97.2 233.002 97.2C235.402 97.2 237.868 95.2 240.402 91.2C240.268 90.2667 239.335 89.0667 237.602 87.6C237.202 87.8667 236.002 88.6667 234.002 90C232.002 91.2 230.668 91.8 230.002 91.8C229.202 91.8 228.802 90.9333 228.802 89.2C228.802 87.7333 229.735 86.0667 231.602 84.2C233.602 82.2 235.335 81.2 236.802 81.2C239.202 81.2 241.268 82.2667 243.002 84.4C244.868 86.5333 245.802 88.8667 245.802 91.4C245.802 94.6 244.535 97.4667 242.002 100C239.602 102.4 236.802 103.6 233.602 103.6C228.668 103.6 224.602 101.267 221.402 96.6C218.468 92.4667 217.002 87.8667 217.002 82.8C217.002 76.8 220.268 71.4 226.802 66.6C232.802 62.0667 238.935 59.8 245.202 59.8C256.002 59.8 265.335 64.4 273.202 73.6C280.668 82.2667 284.402 92.0667 284.402 103Z"
                    />
                    <path
                      d="M367.8 103C367.8 113.8 364.467 123.867 357.8 133.2C350.467 143.467 341.667 148.6 331.4 148.6C316.333 148.6 305.133 140.667 297.8 124.8C292.333 112.933 289.6 98.4 289.6 81.2C289.6 62.1333 292.467 45.3333 298.2 30.8C306.067 10.9333 317.8 1 333.4 1C341.133 1 348.2 3.6 354.6 8.80001C361.133 14 364.4 20.3333 364.4 27.8C364.4 32.2 362.6 36.6667 359 41.2C355.533 45.7333 351.667 48 347.4 48C344.067 48 340.867 46.6 337.8 43.8C334.867 41 333.4 37.9333 333.4 34.6C333.4 28.6 336.267 25.6 342 25.6C345.333 25.6 348.2 26.8 350.6 29.2V32.8C349.933 33.7333 348.867 34.2 347.4 34.2C345.8 34.2 344.2 33.1333 342.6 31L339.8 32.6V38.8C341.533 40.6667 343.733 41.6 346.4 41.6C353.467 41.6 357 37.1333 357 28.2C357 23.4 354.733 18.9333 350.2 14.8C345.8 10.5333 341.133 8.4 336.2 8.4C321.533 8.4 311 17.6667 304.6 36.2C300.333 48.6 298.2 63.9333 298.2 82.2C298.2 97.1333 300.267 109.533 304.4 119.4C310.133 133.133 319.467 140 332.4 140C341.467 140 348.4 135.533 353.2 126.6C357.2 119.4 359.2 110.867 359.2 101C359.2 91.9333 356.2 84.0667 350.2 77.4C344.2 70.6 336.667 67.2 327.6 67.2C322.133 67.2 317.267 69 313 72.6C308.867 76.2 306.8 80.6667 306.8 86C306.8 88.8 307.733 91.4 309.6 93.8C311.467 96.0667 313.733 97.2 316.4 97.2C318.8 97.2 321.267 95.2 323.8 91.2C323.667 90.2667 322.733 89.0667 321 87.6C320.6 87.8667 319.4 88.6667 317.4 90C315.4 91.2 314.067 91.8 313.4 91.8C312.6 91.8 312.2 90.9333 312.2 89.2C312.2 87.7333 313.133 86.0667 315 84.2C317 82.2 318.733 81.2 320.2 81.2C322.6 81.2 324.667 82.2667 326.4 84.4C328.267 86.5333 329.2 88.8667 329.2 91.4C329.2 94.6 327.933 97.4667 325.4 100C323 102.4 320.2 103.6 317 103.6C312.067 103.6 308 101.267 304.8 96.6C301.867 92.4667 300.4 87.8667 300.4 82.8C300.4 76.8 303.667 71.4 310.2 66.6C316.2 62.0667 322.333 59.8 328.6 59.8C339.4 59.8 348.733 64.4 356.6 73.6C364.067 82.2667 367.8 92.0667 367.8 103Z"
                    />
                    <path
                      d="M451.199 103C451.199 113.8 447.865 123.867 441.199 133.2C433.865 143.467 425.065 148.6 414.799 148.6C399.732 148.6 388.532 140.667 381.199 124.8C375.732 112.933 372.999 98.4 372.999 81.2C372.999 62.1333 375.865 45.3333 381.599 30.8C389.465 10.9333 401.199 1 416.799 1C424.532 1 431.599 3.6 437.999 8.80001C444.532 14 447.799 20.3333 447.799 27.8C447.799 32.2 445.999 36.6667 442.399 41.2C438.932 45.7333 435.065 48 430.799 48C427.465 48 424.265 46.6 421.199 43.8C418.265 41 416.799 37.9333 416.799 34.6C416.799 28.6 419.665 25.6 425.399 25.6C428.732 25.6 431.599 26.8 433.999 29.2V32.8C433.332 33.7333 432.265 34.2 430.799 34.2C429.199 34.2 427.599 33.1333 425.999 31L423.199 32.6V38.8C424.932 40.6667 427.132 41.6 429.799 41.6C436.865 41.6 440.399 37.1333 440.399 28.2C440.399 23.4 438.132 18.9333 433.599 14.8C429.199 10.5333 424.532 8.4 419.599 8.4C404.932 8.4 394.399 17.6667 387.999 36.2C383.732 48.6 381.599 63.9333 381.599 82.2C381.599 97.1333 383.665 109.533 387.799 119.4C393.532 133.133 402.865 140 415.799 140C424.865 140 431.799 135.533 436.599 126.6C440.599 119.4 442.599 110.867 442.599 101C442.599 91.9333 439.599 84.0667 433.599 77.4C427.599 70.6 420.065 67.2 410.999 67.2C405.532 67.2 400.665 69 396.399 72.6C392.265 76.2 390.199 80.6667 390.199 86C390.199 88.8 391.132 91.4 392.999 93.8C394.865 96.0667 397.132 97.2 399.799 97.2C402.199 97.2 404.665 95.2 407.199 91.2C407.065 90.2667 406.132 89.0667 404.399 87.6C403.999 87.8667 402.799 88.6667 400.799 90C398.799 91.2 397.465 91.8 396.799 91.8C395.999 91.8 395.599 90.9333 395.599 89.2C395.599 87.7333 396.532 86.0667 398.399 84.2C400.399 82.2 402.132 81.2 403.599 81.2C405.999 81.2 408.065 82.2667 409.799 84.4C411.665 86.5333 412.599 88.8667 412.599 91.4C412.599 94.6 411.332 97.4667 408.799 100C406.399 102.4 403.599 103.6 400.399 103.6C395.465 103.6 391.399 101.267 388.199 96.6C385.265 92.4667 383.799 87.8667 383.799 82.8C383.799 76.8 387.065 71.4 393.599 66.6C399.599 62.0667 405.732 59.8 411.999 59.8C422.799 59.8 432.132 64.4 439.999 73.6C447.465 82.2667 451.199 92.0667 451.199 103Z"
                    />
                  </mask>
                  <path
                    d="M201.003 103C201.003 113.8 197.67 123.867 191.003 133.2C183.67 143.467 174.87 148.6 164.603 148.6C149.537 148.6 138.337 140.667 131.003 124.8C125.537 112.933 122.803 98.4 122.803 81.2C122.803 62.1333 125.67 45.3333 131.403 30.8C139.27 10.9333 151.003 1 166.603 1C174.337 1 181.403 3.6 187.803 8.80001C194.337 14 197.603 20.3333 197.603 27.8C197.603 32.2 195.803 36.6667 192.203 41.2C188.737 45.7333 184.87 48 180.603 48C177.27 48 174.07 46.6 171.003 43.8C168.07 41 166.603 37.9333 166.603 34.6C166.603 28.6 169.47 25.6 175.203 25.6C178.537 25.6 181.403 26.8 183.803 29.2V32.8C183.137 33.7333 182.07 34.2 180.603 34.2C179.003 34.2 177.403 33.1333 175.803 31L173.003 32.6V38.8C174.737 40.6667 176.937 41.6 179.603 41.6C186.67 41.6 190.203 37.1333 190.203 28.2C190.203 23.4 187.937 18.9333 183.403 14.8C179.003 10.5333 174.337 8.4 169.403 8.4C154.737 8.4 144.203 17.6667 137.803 36.2C133.537 48.6 131.403 63.9333 131.403 82.2C131.403 97.1333 133.47 109.533 137.603 119.4C143.337 133.133 152.67 140 165.603 140C174.67 140 181.603 135.533 186.403 126.6C190.403 119.4 192.403 110.867 192.403 101C192.403 91.9333 189.403 84.0667 183.403 77.4C177.403 70.6 169.87 67.2 160.803 67.2C155.337 67.2 150.47 69 146.203 72.6C142.07 76.2 140.003 80.6667 140.003 86C140.003 88.8 140.937 91.4 142.803 93.8C144.67 96.0667 146.937 97.2 149.603 97.2C152.003 97.2 154.47 95.2 157.003 91.2C156.87 90.2667 155.937 89.0667 154.203 87.6C153.803 87.8667 152.603 88.6667 150.603 90C148.603 91.2 147.27 91.8 146.603 91.8C145.803 91.8 145.403 90.9333 145.403 89.2C145.403 87.7333 146.337 86.0667 148.203 84.2C150.203 82.2 151.937 81.2 153.403 81.2C155.803 81.2 157.87 82.2667 159.603 84.4C161.47 86.5333 162.403 88.8667 162.403 91.4C162.403 94.6 161.137 97.4667 158.603 100C156.203 102.4 153.403 103.6 150.203 103.6C145.27 103.6 141.203 101.267 138.003 96.6C135.07 92.4667 133.603 87.8667 133.603 82.8C133.603 76.8 136.87 71.4 143.403 66.6C149.403 62.0667 155.537 59.8 161.803 59.8C172.603 59.8 181.937 64.4 189.803 73.6C197.27 82.2667 201.003 92.0667 201.003 103Z"
                    fill="white"
                  />
                  <path
                    d="M284.402 103C284.402 113.8 281.068 123.867 274.402 133.2C267.068 143.467 258.268 148.6 248.002 148.6C232.935 148.6 221.735 140.667 214.402 124.8C208.935 112.933 206.202 98.4 206.202 81.2C206.202 62.1333 209.068 45.3333 214.802 30.8C222.668 10.9333 234.402 1 250.002 1C257.735 1 264.802 3.6 271.202 8.80001C277.735 14 281.002 20.3333 281.002 27.8C281.002 32.2 279.202 36.6667 275.602 41.2C272.135 45.7333 268.268 48 264.002 48C260.668 48 257.468 46.6 254.402 43.8C251.468 41 250.002 37.9333 250.002 34.6C250.002 28.6 252.868 25.6 258.602 25.6C261.935 25.6 264.802 26.8 267.202 29.2V32.8C266.535 33.7333 265.468 34.2 264.002 34.2C262.402 34.2 260.802 33.1333 259.202 31L256.402 32.6V38.8C258.135 40.6667 260.335 41.6 263.002 41.6C270.068 41.6 273.602 37.1333 273.602 28.2C273.602 23.4 271.335 18.9333 266.802 14.8C262.402 10.5333 257.735 8.4 252.802 8.4C238.135 8.4 227.602 17.6667 221.202 36.2C216.935 48.6 214.802 63.9333 214.802 82.2C214.802 97.1333 216.868 109.533 221.002 119.4C226.735 133.133 236.068 140 249.002 140C258.068 140 265.002 135.533 269.802 126.6C273.802 119.4 275.802 110.867 275.802 101C275.802 91.9333 272.802 84.0667 266.802 77.4C260.802 70.6 253.268 67.2 244.202 67.2C238.735 67.2 233.868 69 229.602 72.6C225.468 76.2 223.402 80.6667 223.402 86C223.402 88.8 224.335 91.4 226.202 93.8C228.068 96.0667 230.335 97.2 233.002 97.2C235.402 97.2 237.868 95.2 240.402 91.2C240.268 90.2667 239.335 89.0667 237.602 87.6C237.202 87.8667 236.002 88.6667 234.002 90C232.002 91.2 230.668 91.8 230.002 91.8C229.202 91.8 228.802 90.9333 228.802 89.2C228.802 87.7333 229.735 86.0667 231.602 84.2C233.602 82.2 235.335 81.2 236.802 81.2C239.202 81.2 241.268 82.2667 243.002 84.4C244.868 86.5333 245.802 88.8667 245.802 91.4C245.802 94.6 244.535 97.4667 242.002 100C239.602 102.4 236.802 103.6 233.602 103.6C228.668 103.6 224.602 101.267 221.402 96.6C218.468 92.4667 217.002 87.8667 217.002 82.8C217.002 76.8 220.268 71.4 226.802 66.6C232.802 62.0667 238.935 59.8 245.202 59.8C256.002 59.8 265.335 64.4 273.202 73.6C280.668 82.2667 284.402 92.0667 284.402 103Z"
                    fill="white"
                  />
                  <path
                    d="M367.8 103C367.8 113.8 364.467 123.867 357.8 133.2C350.467 143.467 341.667 148.6 331.4 148.6C316.333 148.6 305.133 140.667 297.8 124.8C292.333 112.933 289.6 98.4 289.6 81.2C289.6 62.1333 292.467 45.3333 298.2 30.8C306.067 10.9333 317.8 1 333.4 1C341.133 1 348.2 3.6 354.6 8.80001C361.133 14 364.4 20.3333 364.4 27.8C364.4 32.2 362.6 36.6667 359 41.2C355.533 45.7333 351.667 48 347.4 48C344.067 48 340.867 46.6 337.8 43.8C334.867 41 333.4 37.9333 333.4 34.6C333.4 28.6 336.267 25.6 342 25.6C345.333 25.6 348.2 26.8 350.6 29.2V32.8C349.933 33.7333 348.867 34.2 347.4 34.2C345.8 34.2 344.2 33.1333 342.6 31L339.8 32.6V38.8C341.533 40.6667 343.733 41.6 346.4 41.6C353.467 41.6 357 37.1333 357 28.2C357 23.4 354.733 18.9333 350.2 14.8C345.8 10.5333 341.133 8.4 336.2 8.4C321.533 8.4 311 17.6667 304.6 36.2C300.333 48.6 298.2 63.9333 298.2 82.2C298.2 97.1333 300.267 109.533 304.4 119.4C310.133 133.133 319.467 140 332.4 140C341.467 140 348.4 135.533 353.2 126.6C357.2 119.4 359.2 110.867 359.2 101C359.2 91.9333 356.2 84.0667 350.2 77.4C344.2 70.6 336.667 67.2 327.6 67.2C322.133 67.2 317.267 69 313 72.6C308.867 76.2 306.8 80.6667 306.8 86C306.8 88.8 307.733 91.4 309.6 93.8C311.467 96.0667 313.733 97.2 316.4 97.2C318.8 97.2 321.267 95.2 323.8 91.2C323.667 90.2667 322.733 89.0667 321 87.6C320.6 87.8667 319.4 88.6667 317.4 90C315.4 91.2 314.067 91.8 313.4 91.8C312.6 91.8 312.2 90.9333 312.2 89.2C312.2 87.7333 313.133 86.0667 315 84.2C317 82.2 318.733 81.2 320.2 81.2C322.6 81.2 324.667 82.2667 326.4 84.4C328.267 86.5333 329.2 88.8667 329.2 91.4C329.2 94.6 327.933 97.4667 325.4 100C323 102.4 320.2 103.6 317 103.6C312.067 103.6 308 101.267 304.8 96.6C301.867 92.4667 300.4 87.8667 300.4 82.8C300.4 76.8 303.667 71.4 310.2 66.6C316.2 62.0667 322.333 59.8 328.6 59.8C339.4 59.8 348.733 64.4 356.6 73.6C364.067 82.2667 367.8 92.0667 367.8 103Z"
                    fill="white"
                  />
                  <path
                    d="M451.199 103C451.199 113.8 447.865 123.867 441.199 133.2C433.865 143.467 425.065 148.6 414.799 148.6C399.732 148.6 388.532 140.667 381.199 124.8C375.732 112.933 372.999 98.4 372.999 81.2C372.999 62.1333 375.865 45.3333 381.599 30.8C389.465 10.9333 401.199 1 416.799 1C424.532 1 431.599 3.6 437.999 8.80001C444.532 14 447.799 20.3333 447.799 27.8C447.799 32.2 445.999 36.6667 442.399 41.2C438.932 45.7333 435.065 48 430.799 48C427.465 48 424.265 46.6 421.199 43.8C418.265 41 416.799 37.9333 416.799 34.6C416.799 28.6 419.665 25.6 425.399 25.6C428.732 25.6 431.599 26.8 433.999 29.2V32.8C433.332 33.7333 432.265 34.2 430.799 34.2C429.199 34.2 427.599 33.1333 425.999 31L423.199 32.6V38.8C424.932 40.6667 427.132 41.6 429.799 41.6C436.865 41.6 440.399 37.1333 440.399 28.2C440.399 23.4 438.132 18.9333 433.599 14.8C429.199 10.5333 424.532 8.4 419.599 8.4C404.932 8.4 394.399 17.6667 387.999 36.2C383.732 48.6 381.599 63.9333 381.599 82.2C381.599 97.1333 383.665 109.533 387.799 119.4C393.532 133.133 402.865 140 415.799 140C424.865 140 431.799 135.533 436.599 126.6C440.599 119.4 442.599 110.867 442.599 101C442.599 91.9333 439.599 84.0667 433.599 77.4C427.599 70.6 420.065 67.2 410.999 67.2C405.532 67.2 400.665 69 396.399 72.6C392.265 76.2 390.199 80.6667 390.199 86C390.199 88.8 391.132 91.4 392.999 93.8C394.865 96.0667 397.132 97.2 399.799 97.2C402.199 97.2 404.665 95.2 407.199 91.2C407.065 90.2667 406.132 89.0667 404.399 87.6C403.999 87.8667 402.799 88.6667 400.799 90C398.799 91.2 397.465 91.8 396.799 91.8C395.999 91.8 395.599 90.9333 395.599 89.2C395.599 87.7333 396.532 86.0667 398.399 84.2C400.399 82.2 402.132 81.2 403.599 81.2C405.999 81.2 408.065 82.2667 409.799 84.4C411.665 86.5333 412.599 88.8667 412.599 91.4C412.599 94.6 411.332 97.4667 408.799 100C406.399 102.4 403.599 103.6 400.399 103.6C395.465 103.6 391.399 101.267 388.199 96.6C385.265 92.4667 383.799 87.8667 383.799 82.8C383.799 76.8 387.065 71.4 393.599 66.6C399.599 62.0667 405.732 59.8 411.999 59.8C422.799 59.8 432.132 64.4 439.999 73.6C447.465 82.2667 451.199 92.0667 451.199 103Z"
                    fill="white"
                  />
                  <path
                    d="M201.003 103C201.003 113.8 197.67 123.867 191.003 133.2C183.67 143.467 174.87 148.6 164.603 148.6C149.537 148.6 138.337 140.667 131.003 124.8C125.537 112.933 122.803 98.4 122.803 81.2C122.803 62.1333 125.67 45.3333 131.403 30.8C139.27 10.9333 151.003 1 166.603 1C174.337 1 181.403 3.6 187.803 8.80001C194.337 14 197.603 20.3333 197.603 27.8C197.603 32.2 195.803 36.6667 192.203 41.2C188.737 45.7333 184.87 48 180.603 48C177.27 48 174.07 46.6 171.003 43.8C168.07 41 166.603 37.9333 166.603 34.6C166.603 28.6 169.47 25.6 175.203 25.6C178.537 25.6 181.403 26.8 183.803 29.2V32.8C183.137 33.7333 182.07 34.2 180.603 34.2C179.003 34.2 177.403 33.1333 175.803 31L173.003 32.6V38.8C174.737 40.6667 176.937 41.6 179.603 41.6C186.67 41.6 190.203 37.1333 190.203 28.2C190.203 23.4 187.937 18.9333 183.403 14.8C179.003 10.5333 174.337 8.4 169.403 8.4C154.737 8.4 144.203 17.6667 137.803 36.2C133.537 48.6 131.403 63.9333 131.403 82.2C131.403 97.1333 133.47 109.533 137.603 119.4C143.337 133.133 152.67 140 165.603 140C174.67 140 181.603 135.533 186.403 126.6C190.403 119.4 192.403 110.867 192.403 101C192.403 91.9333 189.403 84.0667 183.403 77.4C177.403 70.6 169.87 67.2 160.803 67.2C155.337 67.2 150.47 69 146.203 72.6C142.07 76.2 140.003 80.6667 140.003 86C140.003 88.8 140.937 91.4 142.803 93.8C144.67 96.0667 146.937 97.2 149.603 97.2C152.003 97.2 154.47 95.2 157.003 91.2C156.87 90.2667 155.937 89.0667 154.203 87.6C153.803 87.8667 152.603 88.6667 150.603 90C148.603 91.2 147.27 91.8 146.603 91.8C145.803 91.8 145.403 90.9333 145.403 89.2C145.403 87.7333 146.337 86.0667 148.203 84.2C150.203 82.2 151.937 81.2 153.403 81.2C155.803 81.2 157.87 82.2667 159.603 84.4C161.47 86.5333 162.403 88.8667 162.403 91.4C162.403 94.6 161.137 97.4667 158.603 100C156.203 102.4 153.403 103.6 150.203 103.6C145.27 103.6 141.203 101.267 138.003 96.6C135.07 92.4667 133.603 87.8667 133.603 82.8C133.603 76.8 136.87 71.4 143.403 66.6C149.403 62.0667 155.537 59.8 161.803 59.8C172.603 59.8 181.937 64.4 189.803 73.6C197.27 82.2667 201.003 92.0667 201.003 103Z"
                    stroke="black"
                    stroke-width="2"
                    mask="url(#path-1-outside-1)"
                  />
                  <path
                    d="M284.402 103C284.402 113.8 281.068 123.867 274.402 133.2C267.068 143.467 258.268 148.6 248.002 148.6C232.935 148.6 221.735 140.667 214.402 124.8C208.935 112.933 206.202 98.4 206.202 81.2C206.202 62.1333 209.068 45.3333 214.802 30.8C222.668 10.9333 234.402 1 250.002 1C257.735 1 264.802 3.6 271.202 8.80001C277.735 14 281.002 20.3333 281.002 27.8C281.002 32.2 279.202 36.6667 275.602 41.2C272.135 45.7333 268.268 48 264.002 48C260.668 48 257.468 46.6 254.402 43.8C251.468 41 250.002 37.9333 250.002 34.6C250.002 28.6 252.868 25.6 258.602 25.6C261.935 25.6 264.802 26.8 267.202 29.2V32.8C266.535 33.7333 265.468 34.2 264.002 34.2C262.402 34.2 260.802 33.1333 259.202 31L256.402 32.6V38.8C258.135 40.6667 260.335 41.6 263.002 41.6C270.068 41.6 273.602 37.1333 273.602 28.2C273.602 23.4 271.335 18.9333 266.802 14.8C262.402 10.5333 257.735 8.4 252.802 8.4C238.135 8.4 227.602 17.6667 221.202 36.2C216.935 48.6 214.802 63.9333 214.802 82.2C214.802 97.1333 216.868 109.533 221.002 119.4C226.735 133.133 236.068 140 249.002 140C258.068 140 265.002 135.533 269.802 126.6C273.802 119.4 275.802 110.867 275.802 101C275.802 91.9333 272.802 84.0667 266.802 77.4C260.802 70.6 253.268 67.2 244.202 67.2C238.735 67.2 233.868 69 229.602 72.6C225.468 76.2 223.402 80.6667 223.402 86C223.402 88.8 224.335 91.4 226.202 93.8C228.068 96.0667 230.335 97.2 233.002 97.2C235.402 97.2 237.868 95.2 240.402 91.2C240.268 90.2667 239.335 89.0667 237.602 87.6C237.202 87.8667 236.002 88.6667 234.002 90C232.002 91.2 230.668 91.8 230.002 91.8C229.202 91.8 228.802 90.9333 228.802 89.2C228.802 87.7333 229.735 86.0667 231.602 84.2C233.602 82.2 235.335 81.2 236.802 81.2C239.202 81.2 241.268 82.2667 243.002 84.4C244.868 86.5333 245.802 88.8667 245.802 91.4C245.802 94.6 244.535 97.4667 242.002 100C239.602 102.4 236.802 103.6 233.602 103.6C228.668 103.6 224.602 101.267 221.402 96.6C218.468 92.4667 217.002 87.8667 217.002 82.8C217.002 76.8 220.268 71.4 226.802 66.6C232.802 62.0667 238.935 59.8 245.202 59.8C256.002 59.8 265.335 64.4 273.202 73.6C280.668 82.2667 284.402 92.0667 284.402 103Z"
                    stroke="black"
                    stroke-width="2"
                    mask="url(#path-1-outside-1)"
                  />
                  <path
                    d="M367.8 103C367.8 113.8 364.467 123.867 357.8 133.2C350.467 143.467 341.667 148.6 331.4 148.6C316.333 148.6 305.133 140.667 297.8 124.8C292.333 112.933 289.6 98.4 289.6 81.2C289.6 62.1333 292.467 45.3333 298.2 30.8C306.067 10.9333 317.8 1 333.4 1C341.133 1 348.2 3.6 354.6 8.80001C361.133 14 364.4 20.3333 364.4 27.8C364.4 32.2 362.6 36.6667 359 41.2C355.533 45.7333 351.667 48 347.4 48C344.067 48 340.867 46.6 337.8 43.8C334.867 41 333.4 37.9333 333.4 34.6C333.4 28.6 336.267 25.6 342 25.6C345.333 25.6 348.2 26.8 350.6 29.2V32.8C349.933 33.7333 348.867 34.2 347.4 34.2C345.8 34.2 344.2 33.1333 342.6 31L339.8 32.6V38.8C341.533 40.6667 343.733 41.6 346.4 41.6C353.467 41.6 357 37.1333 357 28.2C357 23.4 354.733 18.9333 350.2 14.8C345.8 10.5333 341.133 8.4 336.2 8.4C321.533 8.4 311 17.6667 304.6 36.2C300.333 48.6 298.2 63.9333 298.2 82.2C298.2 97.1333 300.267 109.533 304.4 119.4C310.133 133.133 319.467 140 332.4 140C341.467 140 348.4 135.533 353.2 126.6C357.2 119.4 359.2 110.867 359.2 101C359.2 91.9333 356.2 84.0667 350.2 77.4C344.2 70.6 336.667 67.2 327.6 67.2C322.133 67.2 317.267 69 313 72.6C308.867 76.2 306.8 80.6667 306.8 86C306.8 88.8 307.733 91.4 309.6 93.8C311.467 96.0667 313.733 97.2 316.4 97.2C318.8 97.2 321.267 95.2 323.8 91.2C323.667 90.2667 322.733 89.0667 321 87.6C320.6 87.8667 319.4 88.6667 317.4 90C315.4 91.2 314.067 91.8 313.4 91.8C312.6 91.8 312.2 90.9333 312.2 89.2C312.2 87.7333 313.133 86.0667 315 84.2C317 82.2 318.733 81.2 320.2 81.2C322.6 81.2 324.667 82.2667 326.4 84.4C328.267 86.5333 329.2 88.8667 329.2 91.4C329.2 94.6 327.933 97.4667 325.4 100C323 102.4 320.2 103.6 317 103.6C312.067 103.6 308 101.267 304.8 96.6C301.867 92.4667 300.4 87.8667 300.4 82.8C300.4 76.8 303.667 71.4 310.2 66.6C316.2 62.0667 322.333 59.8 328.6 59.8C339.4 59.8 348.733 64.4 356.6 73.6C364.067 82.2667 367.8 92.0667 367.8 103Z"
                    stroke="black"
                    stroke-width="2"
                    mask="url(#path-1-outside-1)"
                  />
                  <path
                    d="M451.199 103C451.199 113.8 447.865 123.867 441.199 133.2C433.865 143.467 425.065 148.6 414.799 148.6C399.732 148.6 388.532 140.667 381.199 124.8C375.732 112.933 372.999 98.4 372.999 81.2C372.999 62.1333 375.865 45.3333 381.599 30.8C389.465 10.9333 401.199 1 416.799 1C424.532 1 431.599 3.6 437.999 8.80001C444.532 14 447.799 20.3333 447.799 27.8C447.799 32.2 445.999 36.6667 442.399 41.2C438.932 45.7333 435.065 48 430.799 48C427.465 48 424.265 46.6 421.199 43.8C418.265 41 416.799 37.9333 416.799 34.6C416.799 28.6 419.665 25.6 425.399 25.6C428.732 25.6 431.599 26.8 433.999 29.2V32.8C433.332 33.7333 432.265 34.2 430.799 34.2C429.199 34.2 427.599 33.1333 425.999 31L423.199 32.6V38.8C424.932 40.6667 427.132 41.6 429.799 41.6C436.865 41.6 440.399 37.1333 440.399 28.2C440.399 23.4 438.132 18.9333 433.599 14.8C429.199 10.5333 424.532 8.4 419.599 8.4C404.932 8.4 394.399 17.6667 387.999 36.2C383.732 48.6 381.599 63.9333 381.599 82.2C381.599 97.1333 383.665 109.533 387.799 119.4C393.532 133.133 402.865 140 415.799 140C424.865 140 431.799 135.533 436.599 126.6C440.599 119.4 442.599 110.867 442.599 101C442.599 91.9333 439.599 84.0667 433.599 77.4C427.599 70.6 420.065 67.2 410.999 67.2C405.532 67.2 400.665 69 396.399 72.6C392.265 76.2 390.199 80.6667 390.199 86C390.199 88.8 391.132 91.4 392.999 93.8C394.865 96.0667 397.132 97.2 399.799 97.2C402.199 97.2 404.665 95.2 407.199 91.2C407.065 90.2667 406.132 89.0667 404.399 87.6C403.999 87.8667 402.799 88.6667 400.799 90C398.799 91.2 397.465 91.8 396.799 91.8C395.999 91.8 395.599 90.9333 395.599 89.2C395.599 87.7333 396.532 86.0667 398.399 84.2C400.399 82.2 402.132 81.2 403.599 81.2C405.999 81.2 408.065 82.2667 409.799 84.4C411.665 86.5333 412.599 88.8667 412.599 91.4C412.599 94.6 411.332 97.4667 408.799 100C406.399 102.4 403.599 103.6 400.399 103.6C395.465 103.6 391.399 101.267 388.199 96.6C385.265 92.4667 383.799 87.8667 383.799 82.8C383.799 76.8 387.065 71.4 393.599 66.6C399.599 62.0667 405.732 59.8 411.999 59.8C422.799 59.8 432.132 64.4 439.999 73.6C447.465 82.2667 451.199 92.0667 451.199 103Z"
                    stroke="black"
                    stroke-width="2"
                    mask="url(#path-1-outside-1)"
                  />
                </g>
                <mask
                  id="mask0"
                  style="mask-type: alpha"
                  maskUnits="userSpaceOnUse"
                  x="0"
                  y="50"
                  width="540"
                  height="141"
                >
                  <rect y="50" width="540" height="141" fill="#C4C4C4" />
                </mask>
                <g mask="url(#mask0)">
                  <g filter="url(#filter1_d)">
                    <path
                      d="M201.003 105.4C201.003 116.2 197.67 126.267 191.003 135.6C183.67 145.867 174.87 151 164.603 151C149.537 151 138.337 143.067 131.003 127.2C125.537 115.333 122.803 100.8 122.803 83.5999C122.803 64.5332 125.67 47.7332 131.403 33.1999C139.27 13.3332 151.003 3.3999 166.603 3.3999C174.337 3.3999 181.403 5.9999 187.803 11.1999C194.337 16.3999 197.603 22.7332 197.603 30.1999C197.603 34.5999 195.803 39.0666 192.203 43.5999C188.737 48.1332 184.87 50.3999 180.603 50.3999C177.27 50.3999 174.07 48.9999 171.003 46.1999C168.07 43.3999 166.603 40.3332 166.603 36.9999C166.603 30.9999 169.47 27.9999 175.203 27.9999C178.537 27.9999 181.403 29.1999 183.803 31.5999V35.1999C183.137 36.1332 182.07 36.5999 180.603 36.5999C179.003 36.5999 177.403 35.5332 175.803 33.3999L173.003 34.9999V41.1999C174.737 43.0666 176.937 43.9999 179.603 43.9999C186.67 43.9999 190.203 39.5332 190.203 30.5999C190.203 25.7999 187.937 21.3332 183.403 17.1999C179.003 12.9332 174.337 10.7999 169.403 10.7999C154.737 10.7999 144.203 20.0666 137.803 38.5999C133.537 50.9999 131.403 66.3332 131.403 84.5999C131.403 99.5332 133.47 111.933 137.603 121.8C143.337 135.533 152.67 142.4 165.603 142.4C174.67 142.4 181.603 137.933 186.403 129C190.403 121.8 192.403 113.267 192.403 103.4C192.403 94.3332 189.403 86.4666 183.403 79.7999C177.403 72.9999 169.87 69.5999 160.803 69.5999C155.337 69.5999 150.47 71.3999 146.203 74.9999C142.07 78.5999 140.003 83.0666 140.003 88.3999C140.003 91.1999 140.937 93.7999 142.803 96.1999C144.67 98.4666 146.937 99.5999 149.603 99.5999C152.003 99.5999 154.47 97.5999 157.003 93.5999C156.87 92.6666 155.937 91.4666 154.203 89.9999C153.803 90.2666 152.603 91.0666 150.603 92.3999C148.603 93.5999 147.27 94.1999 146.603 94.1999C145.803 94.1999 145.403 93.3332 145.403 91.5999C145.403 90.1332 146.337 88.4666 148.203 86.5999C150.203 84.5999 151.937 83.5999 153.403 83.5999C155.803 83.5999 157.87 84.6666 159.603 86.7999C161.47 88.9332 162.403 91.2666 162.403 93.7999C162.403 96.9999 161.137 99.8666 158.603 102.4C156.203 104.8 153.403 106 150.203 106C145.27 106 141.203 103.667 138.003 98.9999C135.07 94.8666 133.603 90.2666 133.603 85.1999C133.603 79.1999 136.87 73.7999 143.403 68.9999C149.403 64.4666 155.537 62.1999 161.803 62.1999C172.603 62.1999 181.937 66.7999 189.803 75.9999C197.27 84.6666 201.003 94.4666 201.003 105.4Z"
                      fill="#FFDD00"
                    />
                    <path
                      d="M284.402 105.4C284.402 116.2 281.068 126.267 274.402 135.6C267.068 145.867 258.268 151 248.002 151C232.935 151 221.735 143.067 214.402 127.2C208.935 115.333 206.202 100.8 206.202 83.5999C206.202 64.5332 209.068 47.7332 214.802 33.1999C222.668 13.3332 234.402 3.3999 250.002 3.3999C257.735 3.3999 264.802 5.9999 271.202 11.1999C277.735 16.3999 281.002 22.7332 281.002 30.1999C281.002 34.5999 279.202 39.0666 275.602 43.5999C272.135 48.1332 268.268 50.3999 264.002 50.3999C260.668 50.3999 257.468 48.9999 254.402 46.1999C251.468 43.3999 250.002 40.3332 250.002 36.9999C250.002 30.9999 252.868 27.9999 258.602 27.9999C261.935 27.9999 264.802 29.1999 267.202 31.5999V35.1999C266.535 36.1332 265.468 36.5999 264.002 36.5999C262.402 36.5999 260.802 35.5332 259.202 33.3999L256.402 34.9999V41.1999C258.135 43.0666 260.335 43.9999 263.002 43.9999C270.068 43.9999 273.602 39.5332 273.602 30.5999C273.602 25.7999 271.335 21.3332 266.802 17.1999C262.402 12.9332 257.735 10.7999 252.802 10.7999C238.135 10.7999 227.602 20.0666 221.202 38.5999C216.935 50.9999 214.802 66.3332 214.802 84.5999C214.802 99.5332 216.868 111.933 221.002 121.8C226.735 135.533 236.068 142.4 249.002 142.4C258.068 142.4 265.002 137.933 269.802 129C273.802 121.8 275.802 113.267 275.802 103.4C275.802 94.3332 272.802 86.4666 266.802 79.7999C260.802 72.9999 253.268 69.5999 244.202 69.5999C238.735 69.5999 233.868 71.3999 229.602 74.9999C225.468 78.5999 223.402 83.0666 223.402 88.3999C223.402 91.1999 224.335 93.7999 226.202 96.1999C228.068 98.4666 230.335 99.5999 233.002 99.5999C235.402 99.5999 237.868 97.5999 240.402 93.5999C240.268 92.6666 239.335 91.4666 237.602 89.9999C237.202 90.2666 236.002 91.0666 234.002 92.3999C232.002 93.5999 230.668 94.1999 230.002 94.1999C229.202 94.1999 228.802 93.3332 228.802 91.5999C228.802 90.1332 229.735 88.4666 231.602 86.5999C233.602 84.5999 235.335 83.5999 236.802 83.5999C239.202 83.5999 241.268 84.6666 243.002 86.7999C244.868 88.9332 245.802 91.2666 245.802 93.7999C245.802 96.9999 244.535 99.8666 242.002 102.4C239.602 104.8 236.802 106 233.602 106C228.668 106 224.602 103.667 221.402 98.9999C218.468 94.8666 217.002 90.2666 217.002 85.1999C217.002 79.1999 220.268 73.7999 226.802 68.9999C232.802 64.4666 238.935 62.1999 245.202 62.1999C256.002 62.1999 265.335 66.7999 273.202 75.9999C280.668 84.6666 284.402 94.4666 284.402 105.4Z"
                      fill="#FFDD00"
                    />
                    <path
                      d="M367.8 105.4C367.8 116.2 364.467 126.267 357.8 135.6C350.467 145.867 341.667 151 331.4 151C316.333 151 305.133 143.067 297.8 127.2C292.333 115.333 289.6 100.8 289.6 83.5999C289.6 64.5332 292.467 47.7332 298.2 33.1999C306.067 13.3332 317.8 3.3999 333.4 3.3999C341.133 3.3999 348.2 5.9999 354.6 11.1999C361.133 16.3999 364.4 22.7332 364.4 30.1999C364.4 34.5999 362.6 39.0666 359 43.5999C355.533 48.1332 351.667 50.3999 347.4 50.3999C344.067 50.3999 340.867 48.9999 337.8 46.1999C334.867 43.3999 333.4 40.3332 333.4 36.9999C333.4 30.9999 336.267 27.9999 342 27.9999C345.333 27.9999 348.2 29.1999 350.6 31.5999V35.1999C349.933 36.1332 348.867 36.5999 347.4 36.5999C345.8 36.5999 344.2 35.5332 342.6 33.3999L339.8 34.9999V41.1999C341.533 43.0666 343.733 43.9999 346.4 43.9999C353.467 43.9999 357 39.5332 357 30.5999C357 25.7999 354.733 21.3332 350.2 17.1999C345.8 12.9332 341.133 10.7999 336.2 10.7999C321.533 10.7999 311 20.0666 304.6 38.5999C300.333 50.9999 298.2 66.3332 298.2 84.5999C298.2 99.5332 300.267 111.933 304.4 121.8C310.133 135.533 319.467 142.4 332.4 142.4C341.467 142.4 348.4 137.933 353.2 129C357.2 121.8 359.2 113.267 359.2 103.4C359.2 94.3332 356.2 86.4666 350.2 79.7999C344.2 72.9999 336.667 69.5999 327.6 69.5999C322.133 69.5999 317.267 71.3999 313 74.9999C308.867 78.5999 306.8 83.0666 306.8 88.3999C306.8 91.1999 307.733 93.7999 309.6 96.1999C311.467 98.4666 313.733 99.5999 316.4 99.5999C318.8 99.5999 321.267 97.5999 323.8 93.5999C323.667 92.6666 322.733 91.4666 321 89.9999C320.6 90.2666 319.4 91.0666 317.4 92.3999C315.4 93.5999 314.067 94.1999 313.4 94.1999C312.6 94.1999 312.2 93.3332 312.2 91.5999C312.2 90.1332 313.133 88.4666 315 86.5999C317 84.5999 318.733 83.5999 320.2 83.5999C322.6 83.5999 324.667 84.6666 326.4 86.7999C328.267 88.9332 329.2 91.2666 329.2 93.7999C329.2 96.9999 327.933 99.8666 325.4 102.4C323 104.8 320.2 106 317 106C312.067 106 308 103.667 304.8 98.9999C301.867 94.8666 300.4 90.2666 300.4 85.1999C300.4 79.1999 303.667 73.7999 310.2 68.9999C316.2 64.4666 322.333 62.1999 328.6 62.1999C339.4 62.1999 348.733 66.7999 356.6 75.9999C364.067 84.6666 367.8 94.4666 367.8 105.4Z"
                      fill="#FFDD00"
                    />
                    <path
                      d="M451.199 105.4C451.199 116.2 447.865 126.267 441.199 135.6C433.865 145.867 425.065 151 414.799 151C399.732 151 388.532 143.067 381.199 127.2C375.732 115.333 372.999 100.8 372.999 83.5999C372.999 64.5332 375.865 47.7332 381.599 33.1999C389.465 13.3332 401.199 3.3999 416.799 3.3999C424.532 3.3999 431.599 5.9999 437.999 11.1999C444.532 16.3999 447.799 22.7332 447.799 30.1999C447.799 34.5999 445.999 39.0666 442.399 43.5999C438.932 48.1332 435.065 50.3999 430.799 50.3999C427.465 50.3999 424.265 48.9999 421.199 46.1999C418.265 43.3999 416.799 40.3332 416.799 36.9999C416.799 30.9999 419.665 27.9999 425.399 27.9999C428.732 27.9999 431.599 29.1999 433.999 31.5999V35.1999C433.332 36.1332 432.265 36.5999 430.799 36.5999C429.199 36.5999 427.599 35.5332 425.999 33.3999L423.199 34.9999V41.1999C424.932 43.0666 427.132 43.9999 429.799 43.9999C436.865 43.9999 440.399 39.5332 440.399 30.5999C440.399 25.7999 438.132 21.3332 433.599 17.1999C429.199 12.9332 424.532 10.7999 419.599 10.7999C404.932 10.7999 394.399 20.0666 387.999 38.5999C383.732 50.9999 381.599 66.3332 381.599 84.5999C381.599 99.5332 383.665 111.933 387.799 121.8C393.532 135.533 402.865 142.4 415.799 142.4C424.865 142.4 431.799 137.933 436.599 129C440.599 121.8 442.599 113.267 442.599 103.4C442.599 94.3332 439.599 86.4666 433.599 79.7999C427.599 72.9999 420.065 69.5999 410.999 69.5999C405.532 69.5999 400.665 71.3999 396.399 74.9999C392.265 78.5999 390.199 83.0666 390.199 88.3999C390.199 91.1999 391.132 93.7999 392.999 96.1999C394.865 98.4666 397.132 99.5999 399.799 99.5999C402.199 99.5999 404.665 97.5999 407.199 93.5999C407.065 92.6666 406.132 91.4666 404.399 89.9999C403.999 90.2666 402.799 91.0666 400.799 92.3999C398.799 93.5999 397.465 94.1999 396.799 94.1999C395.999 94.1999 395.599 93.3332 395.599 91.5999C395.599 90.1332 396.532 88.4666 398.399 86.5999C400.399 84.5999 402.132 83.5999 403.599 83.5999C405.999 83.5999 408.065 84.6666 409.799 86.7999C411.665 88.9332 412.599 91.2666 412.599 93.7999C412.599 96.9999 411.332 99.8666 408.799 102.4C406.399 104.8 403.599 106 400.399 106C395.465 106 391.399 103.667 388.199 98.9999C385.265 94.8666 383.799 90.2666 383.799 85.1999C383.799 79.1999 387.065 73.7999 393.599 68.9999C399.599 64.4666 405.732 62.1999 411.999 62.1999C422.799 62.1999 432.132 66.7999 439.999 75.9999C447.465 84.6666 451.199 94.4666 451.199 105.4Z"
                      fill="#FFDD00"
                    />
                  </g>
                </g>
                <defs>
                  <filter
                    id="filter0_d"
                    x="117.803"
                    y="0"
                    width="338.395"
                    height="157.6"
                    filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB"
                  >
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix
                      in="SourceAlpha"
                      type="matrix"
                      values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha"
                    />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="2" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix
                      type="matrix"
                      values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                    />
                    <feBlend
                      mode="normal"
                      in2="BackgroundImageFix"
                      result="effect1_dropShadow"
                    />
                    <feBlend
                      mode="normal"
                      in="SourceGraphic"
                      in2="effect1_dropShadow"
                      result="shape"
                    />
                  </filter>
                  <filter
                    id="filter1_d"
                    x="102.803"
                    y="-16.6001"
                    width="368.395"
                    height="187.6"
                    filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB"
                  >
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix
                      in="SourceAlpha"
                      type="matrix"
                      values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha"
                    />
                    <feOffset />
                    <feGaussianBlur stdDeviation="10" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix
                      type="matrix"
                      values="0 0 0 0 1 0 0 0 0 0.866667 0 0 0 0 0 0 0 0 1 0"
                    />
                    <feBlend
                      mode="normal"
                      in2="BackgroundImageFix"
                      result="effect1_dropShadow"
                    />
                    <feBlend
                      mode="normal"
                      in="SourceGraphic"
                      in2="effect1_dropShadow"
                      result="shape"
                    />
                  </filter>
                </defs>
              </svg>
            </div>

            <div class="number-slider flex-row">
              <div>
                <input
                  class="range"
                  type="range"
                  min="0"
                  max="100"
                  v-model="sliderValue"
                />
              </div>
              <div class="percent">{{ sliderValue }}%</div>
            </div>
          </div>
          <p>
            They were once roaming the streets of New Fang City. But now a pack
            of 8888 Fangsters have assembled with one clear goal in mind; to
            take over the ETH blockchain. By far the toughest block in the
            metaverse.
          </p>
          <button class="button button-primary">Mint soon</button>
        </div>
        <div class="eth-blockchain-image-wrapper">
          <img src="@/assets/images/eth-image.svg" />
        </div>
      </div>
    </section>

    <section class="roadmap">
      <div class="container">
        <h2 class="title">Roadmap</h2>
        <div class="roadmap__content__wrapper flex-row">
          <div class="roadmap__content">
            <div class="roadmap__item flex-row">
              <h3 class="number">1</h3>
              <div class="roadmap__description">
                <p class="roadmap__caption">10 00 NFT Sale</p>
                <p class="roadmap__text">
                  We are starting the sale of 10,000 unique collectible NFTs ,
                  which are also a pass to the NFT Games BMB World.
                </p>
              </div>
            </div>
            <div class="roadmap__item flex-row">
              <h3 class="number">2</h3>
              <div class="roadmap__description">
                <p class="roadmap__caption">Launch Gen 1 Cool Cats</p>
                <p class="roadmap__text">
                  We are starting the sale of 10,000 unique collectible NFTs ,
                  which are also a pass to the NFT Games BMB World.
                </p>
              </div>
            </div>
            <div class="roadmap__item flex-row">
              <h3 class="number">3</h3>
              <div class="roadmap__description">
                <p class="roadmap__caption">Monthly Exclusive NFT Kickoff</p>
                <p class="roadmap__text">
                  We are starting the sale of 10,000 unique collectible NFTs ,
                  which are also a pass to the NFT Games BMB World.
                </p>
              </div>
            </div>
            <div class="roadmap__item flex-row">
              <h3 class="number">4</h3>
              <div class="roadmap__description">
                <p class="roadmap__caption">First Community ETH Raffle</p>
                <p class="roadmap__text">
                  We are starting the sale of 10,000 unique collectible NFTs ,
                  which are also a pass to the NFT Games BMB World.
                </p>
              </div>
            </div>
            <div class="roadmap__item flex-row">
              <h3 class="number">5</h3>
              <div class="roadmap__description">
                <p class="roadmap__caption">Second Community ETH Raffle</p>
                <p class="roadmap__text">
                  We are starting the sale of 10,000 unique collectible NFTs ,
                  which are also a pass to the NFT Games BMB World.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import TheCountdown from "@/components/Countdown.vue";
import SliderGallery from "@/components/SliderGallery.vue";

export default {
  name: "Home",
  components: { TheCountdown, SliderGallery },
  data() {
    return {
      sliderValue: 76,
      galleryItems: [
        { id: 1, src: "slider-1/1.png", alt: "" },
        { id: 2, src: "slider-1/2.png", alt: "" },
        { id: 3, src: "slider-1/3.png", alt: "" },
        { id: 4, src: "slider-1/4.png", alt: "" },
        { id: 5, src: "slider-1/5.png", alt: "" },
        { id: 6, src: "slider-1/6.png", alt: "" },
        { id: 7, src: "slider-1/7.png", alt: "" },
        { id: 8, src: "slider-1/8.png", alt: "" },
        { id: 4, src: "slider-1/4.png", alt: "" },
        { id: 5, src: "slider-1/5.png", alt: "" },
        { id: 6, src: "slider-1/6.png", alt: "" },
        { id: 7, src: "slider-1/7.png", alt: "" },
        { id: 8, src: "slider-1/8.png", alt: "" },
      ],
    };
  },
};
</script>
