<template>
  <div class="countdown flex-row">
    <div class="countdown-item-wrapper">
      <span class="countdown__item">2</span>
      <span class="countdown__item">8</span>
      <p class="countdown__label">Days</p>
    </div>
    <div class="countdown-item-wrapper">
      <span class="countdown__item">2</span>
      <span class="countdown__item">8</span>
      <p class="countdown__label">Hours</p>
    </div>
    <div class="countdown-item-wrapper">
      <span class="countdown__item">2</span>
      <span class="countdown__item">8</span>
      <p class="countdown__label">Minutes</p>
    </div>
    <div class="countdown-item-wrapper">
      <span class="countdown__item">2</span>
      <span class="countdown__item">8</span>
      <p class="countdown__label">Seconds</p>
    </div>
  </div>
</template>
