<template>
  <div class="mint flex-row">
    <div class="mint__image-wrapper">
      <img
        class="mint__image"
        src="@/assets/images/bg-mint.png"
        alt="mint opened"
      />
    </div>
    <div class="mint__content flex-col">
      <h1 class="mint__title">Mint will be opened on October 26</h1>
      <button class="button button-primary">Adopt me</button>
    </div>
  </div>
</template>

<style lang="scss" scoped></style>
