<template>
  <nav class="nav flex-row">
    <a class="nav__item" href="#">About</a>
    <a class="nav__item" href="#">Roadmap</a>
    <a class="nav__item" href="#">Rarity</a>
    <a class="nav__item" href="#">FAQ</a>
    <a class="nav__item nav__item--active" href="#">Halloween Raffle</a>
  </nav>
</template>

<style lang="scss" scoped></style>
