<template>
  <nav class="social flex-row">
    <a class="social__item" href=""
      ><svg
        width="32"
        height="39"
        viewBox="0 0 32 39"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12.5796 16.7143C13.6462 16.7143 14.5102 17.55 14.4907 18.5714C14.4907 19.5929 13.648 20.4286 12.5796 20.4286C11.5307 20.4286 10.6667 19.5929 10.6667 18.5714C10.6667 17.55 11.5111 16.7143 12.5796 16.7143ZM19.4204 16.7143C20.4889 16.7143 21.3333 17.55 21.3333 18.5714C21.3333 19.5929 20.4889 20.4286 19.4204 20.4286C18.3716 20.4286 17.5093 19.5929 17.5093 18.5714C17.5093 17.55 18.352 16.7143 19.4204 16.7143ZM28.2507 0C30.3182 0 32 1.794 32 4.017V39L28.0693 35.295L25.856 33.111L23.5147 30.7896L24.4853 34.398H3.74933C1.68178 34.398 0 32.604 0 30.381V4.017C0 1.794 1.68178 0 3.74933 0H28.2489H28.2507ZM21.1929 25.467C25.2338 25.3314 26.7893 22.503 26.7893 22.503C26.7893 16.224 24.1547 11.1336 24.1547 11.1336C21.5236 9.02943 19.0169 9.087 19.0169 9.087L18.7609 9.399C21.8702 10.413 23.3138 11.8764 23.3138 11.8764C21.6161 10.8773 19.7451 10.2409 17.8098 10.0044C16.5821 9.85958 15.3421 9.87205 14.1173 10.0416C14.0071 10.0416 13.9147 10.062 13.8062 10.0806C13.1662 10.14 11.6107 10.3926 9.65511 11.31C8.97956 11.6406 8.576 11.8764 8.576 11.8764C8.576 11.8764 10.0942 10.335 13.3849 9.321L13.2018 9.087C13.2018 9.087 10.6969 9.02943 8.064 11.1354C8.064 11.1354 5.43111 16.224 5.43111 22.503C5.43111 22.503 6.96711 25.3296 11.008 25.467C11.008 25.467 11.6836 24.5904 12.2347 23.8494C9.91111 23.1066 9.03467 21.5466 9.03467 21.5466C9.03467 21.5466 9.216 21.684 9.54489 21.879C9.56267 21.8976 9.58044 21.918 9.61778 21.9366C9.67289 21.9774 9.728 21.996 9.78311 22.035C10.24 22.308 10.6969 22.5216 11.1164 22.698C11.8667 23.01 12.7627 23.322 13.8062 23.5374C15.3695 23.8575 16.9767 23.8638 18.5422 23.556C19.4541 23.386 20.3437 23.1049 21.1929 22.7184C21.8329 22.464 22.5458 22.0926 23.296 21.567C23.296 21.567 22.3822 23.166 19.9858 23.8884C20.5351 24.6294 21.1947 25.467 21.1947 25.467H21.1929Z"
          fill="white"
        />
      </svg>
    </a>
    <a class="social__item" href=""
      ><svg
        width="34"
        height="34"
        viewBox="0 0 34 34"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M34 15.4889C34 16.4994 34 17.5006 34 18.5111C33.9717 18.6528 33.9339 18.785 33.915 18.9267C33.1406 26.01 27.8989 31.9317 20.9572 33.5467C20.1544 33.7356 19.3233 33.8489 18.5111 34C17.5006 34 16.4994 34 15.4889 34C15.385 33.9717 15.2811 33.9339 15.1772 33.9244C7.98056 33.1406 2.11556 27.965 0.443889 20.9194C0.255 20.1261 0.151111 19.3139 0 18.5206C0 17.51 0 16.5089 0 15.4983C0.0283333 15.3567 0.0661111 15.2244 0.085 15.0828C0.868889 7.99 6.10111 2.06833 13.0428 0.453333C13.8456 0.264444 14.6767 0.151111 15.4889 0C16.4994 0 17.5006 0 18.5111 0C18.6339 0.0283333 18.7472 0.0661111 18.87 0.0755556C25.9628 0.821667 31.9128 6.07278 33.5467 13.0333C33.7356 13.8456 33.8489 14.6672 34 15.4889ZM18.4828 19.8806C18.9172 19.8806 19.3139 19.8994 19.7011 19.8711C19.8711 19.8617 20.0978 19.805 20.2017 19.6917C20.9289 18.8322 21.7033 18.0011 22.3267 17.0661C22.9972 16.0556 22.9783 14.9411 22.4683 13.8267C21.8072 12.3911 20.7589 11.2767 19.5972 10.2472C19.2383 9.92611 18.7 9.70889 18.5206 9.31222C18.3317 8.89667 18.4828 8.32056 18.4639 7.82C18.445 7.23445 18.0578 6.81889 17.5478 6.80944C17.0189 6.8 16.6128 7.225 16.6033 7.82944C16.5939 8.16944 16.6033 8.50944 16.6033 8.89667C15.6967 8.66056 14.875 8.43389 13.9589 8.19778C14.0533 8.40556 14.11 8.52833 14.1572 8.65111C14.6767 9.96389 15.2811 11.2483 15.7061 12.5894C16.2067 14.1478 16.2822 15.7439 15.47 17.2644C15.0922 17.9728 14.6767 18.6528 14.28 19.3517C14.195 19.4933 14.1194 19.635 13.9778 19.8806C14.9128 19.8806 15.7344 19.8806 16.5656 19.8806C16.5656 20.57 16.5656 21.1933 16.5656 21.8356C15.8667 21.8356 15.2056 21.8356 14.5444 21.8356C13.0617 21.8356 12.4856 21.3161 12.3439 19.8617C12.3439 19.8333 12.3061 19.8144 12.2494 19.7294C12.1172 19.7294 11.9472 19.7294 11.7772 19.7294C10.4267 19.7294 9.06667 19.7483 7.71611 19.72C7.23444 19.7106 7.14 19.8806 7.16833 20.315C7.35722 23.3372 9.83167 25.6322 12.9483 25.6417C15.7817 25.6511 18.615 25.6322 21.4483 25.6511C22.3361 25.6511 23.1011 25.3772 23.6772 24.7161C24.1494 24.1778 24.6122 23.6017 24.9711 22.9878C25.6889 21.7789 26.4444 20.6456 27.8517 20.1356C27.9367 20.1072 28.05 19.9844 28.05 19.9089C28.0689 19.5311 28.0594 19.1439 28.0594 18.7C26.4633 19.1628 24.9806 19.6161 23.4883 20.0222C22.95 20.1639 22.4872 20.3811 22.1567 20.825C21.1933 22.1378 19.8239 21.8356 18.4922 21.8261C18.4828 21.1556 18.4828 20.5606 18.4828 19.8806ZM8.29222 17.7744C9.95445 17.7744 11.4467 17.7744 12.9389 17.765C13.0333 17.765 13.1656 17.7083 13.2128 17.6328C13.7794 16.6506 14.3839 15.6872 14.2706 14.4783C14.1383 13.1278 13.7039 11.8811 13.1561 10.6533C13.1278 10.5967 13.0617 10.5494 12.9767 10.455C11.4183 12.8728 9.89778 15.2622 8.29222 17.7744Z"
          fill="#FFFEF5"
        />
      </svg>
    </a>
    <a class="social__item" href=""
      ><svg
        width="37"
        height="28"
        viewBox="0 0 37 28"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M36.9982 3.32391C35.6124 3.89442 34.1429 4.26911 32.6382 4.43556C34.2242 3.55271 35.4112 2.16328 35.9781 0.526179C34.4897 1.35063 32.8578 1.92842 31.157 2.24097C30.0146 1.10326 28.5003 0.348725 26.8496 0.0946679C25.1989 -0.159389 23.5043 0.101267 22.0291 0.836113C20.554 1.57096 19.3811 2.73882 18.6926 4.15814C18.0042 5.57746 17.8388 7.16872 18.2223 8.68453C15.2039 8.54372 12.251 7.81366 9.55547 6.54174C6.85989 5.26982 4.48183 3.48448 2.5757 1.30164C1.90099 2.38026 1.54643 3.60643 1.54832 4.85455C1.54832 7.30425 2.8879 9.46843 4.9245 10.7355C3.71926 10.7002 2.54054 10.3973 1.48661 9.85194V9.93979C1.48697 11.5713 2.09354 13.1525 3.20346 14.4152C4.31339 15.678 5.85836 16.5446 7.57643 16.8682C6.4576 17.1504 5.28446 17.192 4.1458 16.9899C4.6302 18.3942 5.57434 19.6224 6.846 20.5024C8.11767 21.3825 9.6532 21.8703 11.2376 21.8977C9.66291 23.0488 7.85992 23.8997 5.93169 24.4018C4.00346 24.9038 1.98782 25.0473 0 24.8238C3.47002 26.9009 7.50945 28.0036 11.6351 28C25.599 28 33.2354 17.2331 33.2354 7.89556C33.2354 7.59145 33.2263 7.28397 33.2118 6.98325C34.6981 5.98338 35.981 4.74477 37 3.3256L36.9982 3.32391Z"
          fill="white"
        />
      </svg>
    </a>
  </nav>
</template>
