<template>
  <div id="app">
    <component :is="layout">
      <router-view />
    </component>
  </div>
</template>
<script>
import DefaultLayout from "@/layouts/default.vue";

export default {
  name: "App",
  components: { DefaultLayout },
  computed: {
    layout() {
      return `${this.$route.meta.layout}-layout`;
    },
  },
};
</script>
<style lang="scss"></style>
