<template>
  <div class="default-layout">
    <header class="header">
      <div class="container">
        <div class="header__connect flex-row">
          <button class="button header__connect-button">Connected</button>
        </div>

        <the-navigation />

        <div class="logo-with-social flex-row">
          <div class="logo">
            <router-link to="/" class="logo__link">
              <img class="logo__image" src="@/assets/images/creeps-logo.svg" />
            </router-link>
          </div>
          <div class="header__social">
            <social-navigation />
          </div>
        </div>

        <mint-opened />
      </div>
    </header>

    <router-view />
  </div>
</template>

<script>
import TheNavigation from "@/components/Navigation.vue";
import SocialNavigation from "@/components/SocialNavigation.vue";
import MintOpened from "@/components/MintOpened.vue";

export default {
  name: "Default",
  components: { TheNavigation, SocialNavigation, MintOpened },
};
</script>
